
OnlineMarketplace/.vs/OnlineMarketplace/v16/.suo
OnlineMarketplace/OnlineMarketplace.sln
OnlineMarketplace/OnlineMarketplace/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OnlineMarketplace/OnlineMarketplace/obj/Debug/netcoreapp3.1/OnlineMarketplace.AssemblyInfo.cs
OnlineMarketplace/OnlineMarketplace/obj/Debug/netcoreapp3.1/OnlineMarketplace.AssemblyInfoInputs.cache
OnlineMarketplace/OnlineMarketplace/obj/Debug/netcoreapp3.1/OnlineMarketplace.assets.cache
OnlineMarketplace/OnlineMarketplace/obj/OnlineMarketplace.csproj.nuget.dgspec.json
OnlineMarketplace/OnlineMarketplace/obj/OnlineMarketplace.csproj.nuget.g.props
OnlineMarketplace/OnlineMarketplace/obj/OnlineMarketplace.csproj.nuget.g.targets
OnlineMarketplace/OnlineMarketplace/obj/project.assets.json
OnlineMarketplace/OnlineMarketplace/obj/project.nuget.cache
OnlineMarketplace/OnlineMarketplace/OnlineMarketplace.csproj
